@charset 'utf-8';

html,body,form,div,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,fieldset,th,td,button,figure,figcaption{margin:0;padding:0;border:0;}
body{-webkit-text-size-adjust:none;-ms-text-size-adjust:none;font-family:'droid sans fallback',sans-serif;font-size:12px;color:#666;}
input,textarea,select,button{font:inherit;vertical-align:middle;padding:0;}
input[type='button'],input[type='text'],input[type='image'],input[type='submit'],input[type='password'],input[type='tel'],input[type='number'],select,textarea{-webkit-appearance:none;-moz-appearance:none;border-radius:0;}
fieldset,img{border:0}
input[type='checkbox']{-webkit-appearance:checkbox;-moz-appearance:checkbox;}
input[type='radio']{-webkit-appearance:radio;-moz-appearance:radio;}
textarea{resize:none;}
table{width:100%;border-collapse:collapse;border-spacing:0;}
ol,ul{list-style:none;}
img,fieldset,iframe{border:none;}
legend,caption{text-indent:-100%;*text-indent:0;white-space:nowrap;overflow:hidden;font-size:0;line-height:0;text-shadow:none;color:transparent;}
address,cite,code,dfn,em,var,th,strong{font-style:normal;font-weight:normal;}
a{text-decoration:none;}
a:hover, a:visited, a:link{color:#000;}
article,aside,dialog,figure,footer,header,hgroup,nav,section{display:block;}
img{max-width:100%;vertical-align:top;}